*.sln
*.pyproj.user
*.pyproj
*.log
.mypy_cache/
.venv/
.vs/
.vscode/
.pytest_cache/
obj/
pyenv/
venv/
__pycache__/
.cache/
localdb.db
.coverage
results.fpr
libman.json
app/frontend/static/
/node_modules
htmlcov/
uploads/
nas_folder/
*_*.png
